@model SearchingOMDB.Models.Movie


@{
    ViewData["Title"] = "MovieNight";
}

<h1>MovieNight</h1>

<form asp-controller="Home" asp-action="MovieNightResults" method="post">
    <label for="Title">Enter 3 titles</label>
    <input type="text" name="Title1" />
    <input type="text" name="Title2" />
    <input type="text" name="Title3" />
    <button type="submit">Search</button>
</form>

@if (Model != null) 
{

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
    {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Rated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Runtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Plot)
                </td>
                <td>
                    <img src="@Model.Poster" />
                </td>
            </tr>
     }       
    </tbody>
</table>

}
else
{

}